.overlay{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(top, #fff, #2BA7C9);
    transition: height 0.25s;
    position: absolute;
    z-index: 10;
}

.overlay_notif, .overlay_loading{
    width: 100vw;
    height: 100vh;
    transition: all 0.25s;
    color: black;
}

.notif_box, .loading_box{
    margin: auto;
    margin-top: 40%;
    text-align: center;
}

.notif_box .prompt{
    font-size: 15rem;
}

.loadingHandler{
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    
}

.loadingBar{
    width: 50%;
    height: 100%;
    background-color: blue;
    color: white;;
}

.loading_box p{
    font-size: 15rem;
}